<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Sistema de Comentários</title>
</head>

<body>
    <div id="app"></div>
    <script src="node_modules/vue/dist/vue.global.prod.js"></script>
    <script>

        const myApp = {
            template: `
                <div class="container">
                    <h1>Comentários</h1>
                    <hr />
                    <div class="form-todo form-group">
                        <p>
                            <input v-model="name" type="text" placeholder="Nome" name="author" class="form-control">
                        </p>
                        <p>
                            <textarea v-model="message" name="message" placeholder="Comentário" class="form-control"></textarea>
                        </p>
                        <button v-on:click="addComment" type="submit" class="btn btn-primary">Comentar</button>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item" v-for="comment in comments">
                            <span class="comment_author">Autor: <strong>{{ comment.name }}</strong></span>
                            <p>{{ comment.message }}</p>
                            <div>
                                <a href="#" title="Excluir">Excluir</a>
                            </div>
                        </div>           
                    </div>
                </div>`,
            data() {
                return {
                    comments: [],
                    name: '',
                    message: ''
                }
            },
            methods: {
                addComment() {              

                    this.comments.push({
                        name: this.name,
                        message: this.message
                    });                    

                    this.name = '';
                    this.message = '';
                }
            },
        }


        Vue.createApp(myApp).mount('#app')
    </script>
</body>

</html>